#game-area {
  margin: auto auto 0 auto;
  background-color: antiquewhite;
  border: 3px solid black;
  height: 60%;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  }

.card {
  background-image: url(../../assets/memory/Question.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10%;
  box-sizing: border-box;
  border: 0.1px solid black;
}

.card p {
  opacity: 100;
  font-size: 4vh;
  color: rgb(0, 0, 0);
  text-align: center;
}

.card.flipped{
  background: none;
  pointer-events: none;
}

.card:hover {
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.card.match {
  pointer-events: none;
}

#tScore {
  margin: 2em auto 7em auto;
  font-weight: bold;
}
