#overlay {
    width:60%;
    height: 60%;
    margin: auto;
    z-index: 1;
    inset: 0;
}

#pre-game {
    padding-bottom: 1em;
    border-radius: 10%/50%;
}

#instruct-text {
    font-size: 2.5vh;
    font-weight: 800;
    width: 95%;
}

#math-game-area {
    background-color: rgb(255, 255, 255);
    margin: auto auto 0 auto;
    height: 20vw;
    width: 60vw;
    z-index: 2;
    display: none;
    border-radius: 10%/50%;   
    position: relative; 
}

input {
    text-align: center;
}

#pQuestion {
    padding-top: 2em;
    font-size: 3.2vh;
}

#timer {
    display: none;
}

#options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mathOptions {
    background-color: rgb(0, 0, 0);
    border-radius: 3%;
    font-size: 2vw;
    color: white;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
}

.mathOptions:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}

#score {
    display: none;
}

@media (max-width: 900px) {
    .mathOptions {
        font-size: 1.7vh; 
    }

    #pQuestion {
        font-size: 2.5vh;
    }

}

@media (max-width: 750px) {
    .mathOptions {
        font-size: 1.4vh; 
    }

    #pQuestion {
        font-size: 1.4vh;
    }
}

@media (max-height: 500px) {
    .mathOptions {
        font-size: 2.5vh; 
    }

    #pQuestion {
        font-size: 2.5vh;
    }
}
