h1 {
  font-size: 3em;
  margin-bottom: 0;
}

p {
  font-size: 1.1em;
}

#line-break {
  width: 65%;
  border-bottom: 1px black solid;
  margin: auto;
}

.menubuttons {
  margin-top: 2em;
}

.menubuttons a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.35em 1.1em;
  max-width: 15em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  cursor: pointer;
  background: #fffce1;
  border-top-left-radius: 20px 50px;
  border-top-right-radius: 20px 50px;
  border-bottom-right-radius: 20px 50px;
  border-bottom-left-radius: 20px 50px;
}

.menubuttons a:hover{
  background: #c94e50;
  color: #ffffff;
}

link {
  color: #000000;
  height: 1em;
  text-decoration: dashed;
}